html {
    --background: black;
    --tab-color: #1C2232;
    --tab-hover-color: #0F2B54;
    --tab-active-color: #a85317;
    --section-color: #a85317;
    --section-active-color: #ffcea3;
    --section-hover-color: #5584ea;
    --external-link-color: var(--section-hover-color);
    --internal-link-color: var(--section-active-color);
    --search-background-color: var(--tab-color);
    --search-active-color: var(--tab-hover-color);
    --internal-button-color: var(--tab-color);
    --external-button-color: rgb(0, 56, 113);
    --sidebar-background-color: var(--tab-color);
}

/* background color */

html {
    background: var(--background);
}

/* plot embeds */

body {
    margin: 0 !important;
}

/* background */

body,
header,
.md-tabs,
.md-footer-meta,
.md-tabs__list,
.md-footer {
    background: transparent !important;
}

/* layout width */

.md-grid {
    max-width: 92%;
}

/* links */

a {
    transition: 0.3s ease !important;
}

/* .md-content a[href^="http"],
.md-typeset a[href^="http"] {
    color: var(--internal-link-color);
}

.md-content a:not([href*="http"]),
.md-typeset a:not([href*="http"]) {
    color: var(--external-link-color);
} */

/* content: clipboard */

.md-clipboard {
    color: grey !important;
    transition: ease 0.3s !important;
}

.md-clipboard:hover {
    color: #269115 !important;
    transition: ease 0.3s !important;
}

/* headings */

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    text-transform: none !important;
    padding-bottom: 0em;
    padding-top: 0em;
}

.md-content h1 {
    color: #ffffff !important;
    margin: -0.4em 0em 0.6em 0em;
    position: relative;
}

.md-content h2 {
    margin: 0em 0em 0em 0em !important;
    color: #ffa78c !important;
}

.md-content h3 {
    margin: 0em 0em 0em 0em !important;
    color: #f38868 !important;
}

.md-content h4 {
    color: #f56454 !important;
}

.md-content h5 {
    color: #fb3c3c !important;
}

.md-content h6 {
    color: #fc2743 !important;
}

/* header adjustment */

.md-header {
    top: 1.2em;
    background: transparent !important;
}

.md-header--shadow {
    box-shadow: none;
}

/* code */

pre code {
    background-color: #1F2128 !important;
    /* font-size: 0.8em !important; */
}

.md-typeset code {
    background-color: transparent;
    color: lightgreen;
    box-shadow: none !important;
}