/* admonition styles */

.admonition p {
    margin-top: 0.2em;
    margin-bottom: 0em;
}

details p {
    margin-top: 0.2em;
    margin-bottom: 0em;
}

details {
    transition: 0.5s ease !important;
}

details[open] summary {
    background-color: transparent !important;
}

.admonition-title {
    background-color: transparent !important;
}

/* .md-typeset details:not([open]) {
    border: 1.5px solid transparent;
} */

.md-typeset details {
    box-shadow: none !important;

}

/* .md-typeset .admonition.tip,
.md-typeset details.tip {
    background: transparent;
} */


/* custom admonitions */

:root {
    --icon-lucide-tangent: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-split"><path d="M16 3h5v5"/><path d="M8 3H3v5"/><path d="M12 22v-8.3a4 4 0 0 0-1.172-2.872L3 3"/><path d="m15 9 6-6"/></svg>');
    --icon-lucide-user: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-circle-2"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>');
    --icon-lucide-details: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers"><path d="m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"/><path d="m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"/><path d="m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"/></svg>');
    --icon-lucide-goal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-goal"><path d="M12 13V2l8 4-8 4"/><path d="M20.55 10.23A9 9 0 1 1 8 4.94"/><path d="M8 10a5 5 0 1 0 8.9 2.02"/></svg>');
    --icon-lucide-code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code"><polyline points="16 18 22 12 16 6"/><polyline points="8 6 2 12 8 18"/></svg>');
}


/* tangent admonition */

.md-typeset .admonition.tangent,
.md-typeset details.tangent {
    border-color: rgb(255, 129, 33);
}

.md-typeset .tangent>.admonition-title,
.md-typeset .tangent>summary {
    background-color: rgba(194, 117, 45, 0.1);
}

.md-typeset .tangent>.admonition-title::before,
.md-typeset .tangent>summary::before {
    background-color: rgb(255, 155, 48);
    -webkit-mask-image: var(--icon-lucide-tangent);
    mask-image: var(--icon-lucide-tangent);
}

/* details admonition */

.md-typeset .admonition.details,
.md-typeset details.details {
    border-color: rgb(33, 133, 255);
}

.md-typeset .details>.admonition-title,
.md-typeset .details>summary {
    background-color: rgba(45, 120, 194, 0.1);
}

.md-typeset .details>.admonition-title::before,
.md-typeset .details>summary::before {
    background-color: rgb(48, 148, 255);
    -webkit-mask-image: var(--icon-lucide-details);
    mask-image: var(--icon-lucide-details);
}

/* code admonition */

.md-typeset .admonition.code,
.md-typeset details.code {
    border-color: rgb(33, 133, 255);
}

.md-typeset .code>.admonition-title,
.md-typeset .code>summary {
    background-color: rgba(45, 120, 194, 0.1);
}

.md-typeset .code>.admonition-title::before,
.md-typeset .code>summary::before {
    background-color: rgb(48, 148, 255);
    -webkit-mask-image: var(--icon-lucide-code);
    mask-image: var(--icon-lucide-code);
}

/* goal admonition */

.md-typeset .admonition.goal,
.md-typeset details.goal {
    border-color: rgb(33, 155, 255);
}

.md-typeset .goal>.admonition-title,
.md-typeset .goal>summary {
    background-color: rgba(45, 139, 194, 0.1);
}

.md-typeset .goal>.admonition-title::before,
.md-typeset .goal>summary::before {
    background-color: rgb(48, 151, 255);
    -webkit-mask-image: var(--icon-lucide-goal);
    mask-image: var(--icon-lucide-goal);
}

/* user admonition */


.md-typeset .admonition.user,
.md-typeset details.user {
    border-color: rgb(255, 129, 33);
}

.md-typeset .user>.admonition-title,
.md-typeset .user>summary {
    background-color: rgba(194, 117, 45, 0.1);
}

.md-typeset .user>.admonition-title::before,
.md-typeset .user>summary::before {
    background-color: rgb(255, 155, 48);
    -webkit-mask-image: var(--icon-lucide-user);
    mask-image: var(--icon-lucide-user);
}