html {
    --background: black;
    --tab-color: #1C2232;
    --tab-hover-color: #0F2B54;
    --tab-active-color: #a85317;
    /* --external-link-color: rgb(64, 138, 248); */
    /* --internal-link-color: #e73d5a; */
    --section-color: #a85317;
    --section-active-color: #ffcea3;
    --section-hover-color: #5584ea;
    --search-background-color: var(--tab-color);
    --search-active-color: var(--tab-hover-color);
    --internal-button-color: var(--tab-color);
    --external-button-color: rgb(0, 56, 113);
    --sidebar-background-color: var(--tab-color);
    --page-bg-color: transparent;
}

/* background color */

html {
    background: var(--background);
}

body,
header,
.md-tabs,
.md-footer-meta,
.md-tabs__list,
.md-footer {
    background: transparent !important;
}

.admonition-title {
    background-color: transparent !important;
}


/* layout width */

.md-grid {
    max-width: 92%;
}

a {
    transition: 0.3s ease !important;
}

/* content: clipboard */

.md-clipboard {
    color: grey !important;
    transition: ease 0.3s !important;
}

.md-clipboard:hover {
    color: #269115 !important;
    transition: ease 0.3s !important;
}

/* headings */

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    text-transform: none !important;
    padding-bottom: 0em;
    padding-top: 0em;
}

.md-content h1 {
    color: #ffffff !important;
    margin: -0.4em 0em 0em 0em;
    position: relative;
}

.md-content h2 {
    margin: 0em 0em 0em 0em !important;
    color: #d1d1d1 !important;
}

.md-content h3 {
    margin: 0em 0em 0em 0em !important;
    color: #a3a3a3 !important;
}

.md-content h4 {
    color: #777777 !important;
}

.md-content h5 {
    color: #646464 !important;
}

.md-content h6 {
    color: #454545 !important;
}

/* header adjustment */

.md-header {
    top: 1.2em;
    background: transparent !important;
}

.md-header--shadow {
    box-shadow: none;
}



/* maximum page width width */

@media (min-width: 76.2rem) {

    /* quick links */

    .md-quick {
        display: block;
        margin: 0;
        z-index: 16;
        position: fixed;
        bottom: 0.2vh;
        left: 1.2vw;
        transition: 0.5s ease !important;
    }

    .md-quick__link {
        color: rgb(45, 94, 183);
        display: inline;
        margin-top: 0em;
        margin-bottom: -1em;
        height: 2em;
        width: 2em;
        transition: 0.5s ease !important;
    }

    .md-quick__link:hover {
        color: rgb(34, 221, 153);
    }



    .md-quick__link svg {
        max-height: 2em;
        vertical-align: -25%
    }

    .md-sidebar__tooltip {
        font-size: 1.3em;
        color: transparent;
        position: relative;
        display: block;
        line-height: 0;
        padding: 0;
        margin: 0;
        transition: 0.2s ease !important;
        top: -1.8em;
        left: 2.4em;
    }

    .md-quick__link:hover+.md-sidebar__tooltip {
        color: white;
    }


    /* toc sidebar */
    .md-sidebar.md-sidebar--secondary {
        top: 8em !important;
        padding-top: 0.1em !important;
        margin-top: -8em !important;
    }

    .md-sidebar.md-sidebar--secondary .md-sidebar__inner {
        background: var(--sidebar-background-color);
        padding: 1.2em 0.5em 1.2em 0.5em !important;
        border-radius: 0.4em;
    }

    /* Jupyter download and heading */

    .md-content__button.md-icon[title="Download Notebook"] {
        position: relative;
        left: -4.5em;
        top: -0.8em;
        scale: 1.3;
    }

    .md-content .jupyter-wrapper h1 {
        color: #ffffff !important;
        margin: 0em 0em 0.4em 0.0em !important;
        position: relative;
    }

    /* primary sidebar */

    /* ? original, keep for disappear tabs  */
    /* .md-sidebar.md-sidebar--primary {
        top: 2em !important;
        padding-top: 0em !important;
        margin-top: -7em;

    } */

    .md-sidebar.md-sidebar--primary {
        top: 8em !important;
        padding-top: 0em !important;
        margin-top: -7em !important;

    }

    .md-sidebar.md-sidebar--primary,
    .md-sidebar__scrollwrap {
        z-index: 11;
    }

    .md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap {
        position: relative;
    }

    .md-sidebar.md-sidebar--primary .md-sidebar__inner {
        background: var(--sidebar-background-color);
        padding: 1.2em 0.5em 1.2em 0.5em;
        border-radius: 0.4em;
    }

    .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
        margin-left: 0.8rem !important;
    }

    /* header button */

    .md-header__button.md-logo {
        z-index: 10;
        top: 0.1em;
        margin-right: 0em;
        margin-left: -5em;
        transition: 0.5s ease !important;
        border-radius: 2em;
        padding: 0em;
        border: 1px solid transparent;
    }

    .md-header__button.md-logo img {
        max-width: 3.4em;
        max-height: 3.4em;
        width: 3.4em;
        height: 3.4em;
    }

    .md-header__button.md-logo:hover {
        border: 1px solid white;
        filter: brightness(2.1);
    }

    .md-header {
        margin-bottom: 2em;
    }

    /* tabs */
    .md-tabs {
        position: relative;
        top: -5.5em;
        left: -1em;
    }

    .md-tabs__list {
        position: relative;
        text-align: left;
        transition: all 0.3s ease !important;
    }

    .md-tabs__item {
        transition: 0.3s ease !important;
    }

    .md-tabs__link {
        padding: 0.45em 0.7em;
        margin-left: 0em;
        margin-right: -1em;
        transition: 1s;
        color: white !important;
        opacity: 1 !important;
        transition: all 0.3s ease !important;
        background-color: var(--tab-color);
        border-radius: 0.4em;
    }


    .md-tabs__link:hover {
        background-color: var(--tab-hover-color);
        border-radius: 0.4em;
    }

    .md-tabs__item.md-tabs__item--active .md-tabs__link {
        border-radius: 0.4em;
        background-color: var(--tab-active-color);
    }

    .md-top.md-icon {
        transition: 0.3s ease !important;
        border: 1px solid #F09637;
    }

    /* inner content */

    /* .md-content__inner {
        transition: all 0.3s ease !important;
        z-index: 10;
        background-color: var(--page-bg-color);
        position: relative !important;
        top: -7.91em;
        margin-bottom: -6em;
        padding: 1em;
        border-radius: 0.8em;
        margin-right: 1.65em !important;
    } */

    .md-content__inner {
        transition: all 0.3s ease !important;
        /* z-index: 10; */
        background-color: var(--page-bg-color);
        position: relative !important;
        top: -8.85em;
        padding: 1em;
        margin-right: 1.65em !important;
        margin-bottom: -6em;
    }
}

/* ? */

/* @media screen and (min-width:45em) {
    .md-social {
        position: absolute;
        top: 0.35em;
        right: 1.8%;
    }

} */

/* ? greater than equal to medium width */

@media (min-width: 59.95rem) {

    /* search bar */

    .md-search {
        position: relative;
        margin-left: auto;
        margin-right: 1.1em;
        top: 0.4em;
        z-index: 10 !important;
    }

    .md-search-result__article.md-typeset {
        padding-top: 10px;
        background-color: var(--search-background-color) !important;
    }

    .md-search__form {
        background: var(--search-background-color) !important;
        transition: 0.1s ease !important;
    }

    /* .md-search__form:hover {
        background: var(--search-active-color) !important;
    } */


    .md-search-result__meta {
        background-color: var(--search-background-color) !important;
    }

    [data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon {
        color: white;
    }

    .md-search-result__list {
        background-color: var(--search-active-color) !important;
    }

    .md-search__scrollwrap {
        background-color: var(--search-active-color) !important;
    }

    .md-search__form:not(.focus-visible) {
        border-radius: 0.4em;
    }

    .md-search__input:not(.focus-visible) {
        border-radius: 0.4em;
    }

    .md-search__form .focus-visible {
        border-top-right-radius: 0.4em;
        border-top-left-radius: 0.4em;
    }

    .md-search__input .focus-visible {
        border-top-right-radius: 0.4em;
        border-top-left-radius: 0.4em;
    }

    .md-search-result__item .md-tag {
        display: none;
    }


    :not(.md-header--shadow) [dir=ltr] .md-search-result__icon {
        top: 0.8em;
    }


    :not(.md-header--shadow) .md-search__output {
        background-color: var(--search-background-color) !important;
        border-bottom-left-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }



    [data-md-toggle=search]:checked~.md-header .md-search__form {
        box-shadow: none;
        background-color: var(--search-background-color) !important;
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
    }

    /* both sidebars */

    .md-nav__item .md-nav__link {
        color: var(--section-color) !important;
        transition: 0.5s ease !important;
    }

    .md-nav__item .md-nav__link:hover {
        color: var(--section-hover-color) !important;
    }

    .md-nav__item .md-nav__link--active {
        color: var(--section-active-color) !important;
        font-weight: bold !important;
    }


    /* secondary sidebar */

    .md-nav__title[for="__toc"] {
        background: transparent;
    }

    .md-nav__link,
    .md-nav__title {
        background-color: transparent !important;
        box-shadow: none !important;
    }


    .md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap {
        top: 0em !important;
        position: relative;
        margin-left: -0.7em;
        margin-bottom: -6.4em;
        border-radius: 0.4em;
    }

    .md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap .md-sidebar__inner {
        padding: 0.4em 1em 1em 1em;
        border-radius: 0.4em;
        left: 1em;
        width: 23.4em;
    }
}