/* admonition styles */

.admonition p {
    margin-top: 0.2em;
    margin-bottom: 0em;
}

details p {
    margin-top: 0.2em;
    margin-bottom: 0em;
}

details {
    transition: 0.5s ease !important;
}

details[open] summary {
    background-color: transparent !important;
}

.admonition-title {
    background-color: transparent !important;
}

/* .md-typeset details:not([open]) {
    border: 1.5px solid transparent;
} */

.md-typeset details {
    box-shadow: none !important;

}



details,
.admonition {
    border: 1.5px solid transparent !important;
}

/* icon adjustments */

.md-typeset .admonition-title:before {
    margin-top: -0.12em;
}

.md-typeset summary:before {
    margin-top: 0em;
}


/* .admonition.min {
    border: 1px solid transparent !important;
} */

/* .md-typeset .admonition.tip,
.md-typeset details.tip {
    background: transparent;
} */


/* custom admonitions */

:root {
    --icon-lucide-tangent: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-split"><path d="M16 3h5v5"/><path d="M8 3H3v5"/><path d="M12 22v-8.3a4 4 0 0 0-1.172-2.872L3 3"/><path d="m15 9 6-6"/></svg>');
    --icon-lucide-user: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-circle-2"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>');
    --icon-lucide-details: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers"><path d="m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"/><path d="m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"/><path d="m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"/></svg>');
    --icon-lucide-goal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-goal"><path d="M12 13V2l8 4-8 4"/><path d="M20.55 10.23A9 9 0 1 1 8 4.94"/><path d="M8 10a5 5 0 1 0 8.9 2.02"/></svg>');
    --icon-lucide-code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code-2"><path d="m18 16 4-4-4-4"/><path d="m6 8-4 4 4 4"/><path d="m14.5 4-5 16"/></svg>');
    --icon-lucide-smile: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-smile"><circle cx="12" cy="12" r="10"/><path d="M8 14s1.5 2 4 2 4-2 4-2"/><line x1="9" x2="9.01" y1="9" y2="9"/><line x1="15" x2="15.01" y1="9" y2="9"/></svg>');
    --icon-lucide-meh: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-meh"><circle cx="12" cy="12" r="10"/><line x1="8" x2="16" y1="15" y2="15"/><line x1="9" x2="9.01" y1="9" y2="9"/><line x1="15" x2="15.01" y1="9" y2="9"/></svg>');
    --icon-lucide-frown: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-frown"><circle cx="12" cy="12" r="10"/><path d="M16 16s-1.5-2-4-2-4 2-4 2"/><line x1="9" x2="9.01" y1="9" y2="9"/><line x1="15" x2="15.01" y1="9" y2="9"/></svg>');
    --icon-lucide-dollar: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dollar-sign"><line x1="12" x2="12" y1="2" y2="22"/><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"/></svg>');
    --icon-lucide-premise: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>');
}

.md-typeset .admonition.premise,
.md-typeset details.premise {
    border-color: rgb(255, 170, 33);
}

.md-typeset .premise>.admonition-title,
.md-typeset .premise>summary {
    background-color: rgba(194, 139, 45, 0.1);
}

.md-typeset .premise>.admonition-title::before,
.md-typeset .premise>summary::before {
    background-color: rgb(255, 172, 48);
    -webkit-mask-image: var(--icon-lucide-premise);
    mask-image: var(--icon-lucide-premise);
}

/* faces */

.md-typeset .admonition.smile,
.md-typeset details.smile {
    border-color: rgb(33, 255, 107);
}

.md-typeset .smile>.admonition-title,
.md-typeset .smile>summary {
    background-color: rgba(45, 194, 90, 0.1);
}

.md-typeset .smile>.admonition-title::before,
.md-typeset .smile>summary::before {
    background-color: rgb(48, 255, 89);
    -webkit-mask-image: var(--icon-lucide-smile);
    mask-image: var(--icon-lucide-smile);
}

.md-typeset .admonition.meh,
.md-typeset details.meh {
    border-color: rgb(255, 214, 33);
}

.md-typeset .meh>.admonition-title,
.md-typeset .meh>summary {
    background-color: rgba(194, 147, 45, 0.1);
}

.md-typeset .meh>.admonition-title::before,
.md-typeset .meh>summary::before {
    background-color: rgb(255, 214, 48);
    -webkit-mask-image: var(--icon-lucide-meh);
    mask-image: var(--icon-lucide-meh);
}

.md-typeset .admonition.frown,
.md-typeset details.frown {
    border-color: rgb(255, 33, 55);
}

.md-typeset .frown>.admonition-title,
.md-typeset .frown>summary {
    background-color: rgba(194, 45, 65, 0.1);
}

.md-typeset .frown>.admonition-title::before,
.md-typeset .frown>summary::before {
    background-color: rgb(255, 48, 65);
    -webkit-mask-image: var(--icon-lucide-frown);
    mask-image: var(--icon-lucide-frown);
}

/* dollar */


.md-typeset .admonition.dollar-blue,
.md-typeset details.dollar-blue {
    border-color: rgb(33, 159, 255);
}

.md-typeset .dollar-blue>.admonition-title,
.md-typeset .dollar-blue>summary {
    background-color: rgba(45, 105, 194, 0.1);
}

.md-typeset .dollar-blue>.admonition-title::before,
.md-typeset .dollar-blue>summary::before {
    background-color: rgb(48, 127, 255);
    -webkit-mask-image: var(--icon-lucide-dollar);
    mask-image: var(--icon-lucide-dollar);
}

.md-typeset .admonition.dollar-green,
.md-typeset details.dollar-green {
    border-color: rgb(33, 255, 118);
}

.md-typeset .dollar-green>.admonition-title,
.md-typeset .dollar-green>summary {
    background-color: rgba(45, 194, 100, 0.1);
}

.md-typeset .dollar-green>.admonition-title::before,
.md-typeset .dollar-green>summary::before {
    background-color: rgb(48, 255, 114);
    -webkit-mask-image: var(--icon-lucide-dollar);
    mask-image: var(--icon-lucide-dollar);
}

.md-typeset .admonition.dollar-yellow,
.md-typeset details.dollar-yellow {
    border-color: rgb(255, 203, 33);
}

.md-typeset .dollar-yellow>.admonition-title,
.md-typeset .dollar-yellow>summary {
    background-color: rgba(194, 149, 45, 0.1);
}

.md-typeset .dollar-yellow>.admonition-title::before,
.md-typeset .dollar-yellow>summary::before {
    background-color: rgb(255, 217, 48);
    -webkit-mask-image: var(--icon-lucide-dollar);
    mask-image: var(--icon-lucide-dollar);
}

.md-typeset .admonition.dollar-red,
.md-typeset details.dollar-red {
    border-color: rgb(255, 33, 51);
}

.md-typeset .dollar-red>.admonition-title,
.md-typeset .dollar-red>summary {
    background-color: rgba(194, 45, 92, 0.1);
}

.md-typeset .dollar-red>.admonition-title::before,
.md-typeset .dollar-red>summary::before {
    background-color: rgb(255, 48, 79);
    -webkit-mask-image: var(--icon-lucide-dollar);
    mask-image: var(--icon-lucide-dollar);
}

/* tangent admonition */

.md-typeset .admonition.tangent,
.md-typeset details.tangent {
    border-color: rgb(255, 129, 33);
}

.md-typeset .tangent>.admonition-title,
.md-typeset .tangent>summary {
    background-color: rgba(194, 117, 45, 0.1);
}

.md-typeset .tangent>.admonition-title::before,
.md-typeset .tangent>summary::before {
    background-color: rgb(255, 155, 48);
    -webkit-mask-image: var(--icon-lucide-tangent);
    mask-image: var(--icon-lucide-tangent);
}

/* details admonition */

.md-typeset .admonition.details,
.md-typeset details.details {
    border-color: rgb(33, 133, 255);
}

.md-typeset .details>.admonition-title,
.md-typeset .details>summary {
    background-color: rgba(45, 120, 194, 0.1);
}

.md-typeset .details>.admonition-title::before,
.md-typeset .details>summary::before {
    background-color: rgb(48, 148, 255);
    -webkit-mask-image: var(--icon-lucide-details);
    mask-image: var(--icon-lucide-details);
}

/* code admonition */

.md-typeset .admonition.code,
.md-typeset details.code {
    border-color: rgb(33, 255, 118);
}

.md-typeset .code>.admonition-title,
.md-typeset .code>summary {
    background-color: rgba(45, 194, 60, 0.1);
}

.md-typeset .code>.admonition-title::before,
.md-typeset .code>summary::before {
    background-color: rgb(48, 255, 117);
    -webkit-mask-image: var(--icon-lucide-code);
    mask-image: var(--icon-lucide-code);
}

/* goal admonition */

.md-typeset .admonition.goal,
.md-typeset details.goal {
    border-color: rgb(255, 181, 33);
}

.md-typeset .goal>.admonition-title,
.md-typeset .goal>summary {
    background-color: rgba(194, 159, 45, 0.1);
}

.md-typeset .goal>.admonition-title::before,
.md-typeset .goal>summary::before {
    background-color: rgb(255, 186, 48);
    -webkit-mask-image: var(--icon-lucide-goal);
    mask-image: var(--icon-lucide-goal);
}

/* user admonition */


.md-typeset .admonition.user,
.md-typeset details.user {
    border-color: rgb(255, 129, 33);
}

.md-typeset .user>.admonition-title,
.md-typeset .user>summary {
    background-color: rgba(194, 117, 45, 0.1);
}

.md-typeset .user>.admonition-title::before,
.md-typeset .user>summary::before {
    background-color: rgb(255, 155, 48);
    -webkit-mask-image: var(--icon-lucide-user);
    mask-image: var(--icon-lucide-user);
}